@font-face {
  font-family: "Oswald-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Regular/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular/Oswald-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Medium/Oswald-Medium.eot");
  src: url("../fonts/Oswald-Medium/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Medium/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium/Oswald-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "helveticaneue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/helveticaneue/helveticaneue.eot");
  src: url("../fonts/helveticaneue/helveticaneue.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  font-family: "helveticaneue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #999999; }

*:-moz-placeholder {
  font-family: "helveticaneue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #999999; }

*::-moz-placeholder {
  font-family: "helveticaneue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #999999; }

*:-ms-input-placeholder {
  font-family: "helveticaneue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #999999; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000000; }

body input:required:valid,
body textarea:required:valid {
  color: #505050; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  outline: none;
  text-decoration: none; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  position: relative;
  line-height: normal;
  font-family: "Oswald-Regular", sans-serif;
  font-weight: normal;
  font-style: normal; }

img {
  display: block;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain; }

input, textarea {
  border: none;
  font-size: 16px;
  outline: none;
  color: #505050;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0; }

textarea {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 111px;
  width: 100%;
  margin: 20px 0 15px;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold; }
  textarea::-webkit-input-placeholder {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: inherit;
    color: rgba(153, 153, 153, 0.87); }
  textarea:-moz-placeholder {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: inherit;
    color: rgba(153, 153, 153, 0.87); }
  textarea::-moz-placeholder {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: inherit;
    color: rgba(153, 153, 153, 0.87); }
  textarea:-ms-input-placeholder {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: inherit;
    color: rgba(153, 153, 153, 0.87); }

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none; }

.footer {
  background: #E5E5E5;
  padding: 10px; }
  .footer-text {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87); }

.header {
  background: #FFFFFF; }
  .header-top {
    -webkit-box-shadow: 0px 10px 25px rgba(115, 123, 128, 0.2);
            box-shadow: 0px 10px 25px rgba(115, 123, 128, 0.2);
    padding: 15px 0 20px;
    position: relative;
    z-index: 3; }
  .header-call {
    font-family: "helveticaneue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
    .header-call-link {
      font-weight: 700;
      line-height: 24px;
      font-size: 19px;
      color: #000000;
      margin-top: 10px;
      display: block;
      white-space: nowrap; }

.logo-img {
  height: 150px;
  margin-right: 10px; }

.logo-text {
  font-family: "Oswald-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #000000; }

.logo-span {
  font-size: 24px;
  line-height: 36px;
  display: block;
  color: #939397;
  font-family: "Oswald-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase; }

.socials-img {
  width: 32px;
  height: 32px; }

.socials-link {
  margin-right: 12px;
  margin-bottom: 25px; }
  .socials-link:last-child {
    margin-right: 0; }

.burger {
  display: none;
  width: 38px;
  height: 38px;
  position: relative;
  cursor: pointer;
  z-index: 8; }
  .burger:hover .burger-line {
    background: #039BE5; }
  .burger-line {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    width: 30px;
    background: #000000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .burger-line_top {
      top: 10px; }
    .burger-line_center {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .burger-line_bottom {
      bottom: 10px; }
  .burger.active .burger-line_top {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg); }
  .burger.active .burger-line_center {
    opacity: 0; }
  .burger.active .burger-line_bottom {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            transform: translate(-50%, -50%) rotate(-225deg); }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .breadcrumbs__link, .breadcrumbs__item {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A2AAAE; }
  .breadcrumbs__link {
    color: #000000;
    position: relative;
    padding-right: 14px;
    margin-right: 2px;
    float: left; }
    .breadcrumbs__link:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 17px;
      background: url("../img/arrow_breadcrumbs.svg") no-repeat center/10px 9px; }

.menu {
  padding: 20px 0; }
  .menu-list {
    margin: 0 10px; }
  .menu-link {
    padding: 10px 16px;
    display: block;
    font-family: "Oswald-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #039BE5; }
    .menu-link.active {
      border: 1px solid #039BE5;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 2px; }

.search {
  position: relative;
  margin-left: 50px;
  min-height: 52px; }
  .search-input {
    border-bottom: 1px solid #039BE5;
    max-width: 203px;
    width: 100%;
    padding: 15px 30px 15px 12px;
    font-family: "helveticaneue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #000000;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 10px;
    background: #ffffff; }
  .search-icon {
    width: 18px;
    height: 18px; }

.btn-red {
  background: #ED1D24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 196px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 55px;
  margin: 10px auto 0; }
  .btn-red:hover .arrow-line {
    width: 0; }
    .btn-red:hover .arrow-line-hover {
      width: 50px;
      margin-right: 10px; }
  .btn-red__text {
    margin-left: 60px; }

.btn-blue {
  background: #039BE5;
  border-radius: 2px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 26px 6px; }

.arrow-line {
  position: relative;
  height: 1px;
  background: #FFFFFF;
  width: 60px;
  margin-left: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .arrow-line:before {
    content: '';
    position: absolute;
    right: -1px;
    top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 3px 5px;
    border-color: transparent transparent transparent #ffffff; }
  .arrow-line-hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    height: 1px;
    background: #FFFFFF;
    width: 0; }

.text-42 {
  font-size: 42px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center; }

.text-18 {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000; }

.text-14 {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87); }
  .text-14__main {
    text-transform: uppercase;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700; }

.list {
  margin-bottom: 15px; }
  .list__item {
    margin: 0 5px 5px !important;
    position: relative;
    padding-left: 10px; }
    .list__item:before {
      content: '';
      position: absolute;
      left: 0;
      top: 7.5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.87);
      width: 4px;
      height: 4px; }

.text-12 {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5); }

.link {
  color: #039BE5;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; }

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis; }

.line-clamp:after {
  content: '...';
  text-align: center;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1em * 20px);
  background: -webkit-gradient(linear, right top, left top, from(rgba(241, 242, 246, 0.1)), color-stop(75%, rgba(241, 242, 246, 0.5)));
  background: linear-gradient(to left, rgba(241, 242, 246, 0.1), rgba(241, 242, 246, 0.5) 75%); }

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important; }
  .line-clamp {
    -webkit-line-clamp: 3;
    height: calc(1em * 20px * 3); } }

.wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #E5E5E5 0%, rgba(255, 255, 255, 0) 100%); }

.banner {
  background: url("../img/banner.jpg") no-repeat left center/cover;
  height: 180px;
  padding: 15px 50px;
  width: 100%;
  margin-bottom: 30px; }

.select {
  position: relative; }
  .select-item {
    cursor: pointer; }
  .select-arrow {
    width: 9px;
    height: 10px;
    margin-left: 15px; }
    .select-arrow.active {
      -webkit-transform: scale(1, -1);
              transform: scale(1, -1); }
  .select-drop {
    position: absolute;
    top: 100%;
    left: -2px;
    padding-top: 5px;
    display: none;
    z-index: 2; }

.options {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(115, 123, 128, 0.5);
          box-shadow: 0px 10px 25px rgba(115, 123, 128, 0.5);
  border-radius: 3px;
  min-width: 236px;
  max-height: 327px;
  overflow-y: auto; }

.option {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #039BE5;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 15px;
  cursor: pointer; }
  .option:last-child {
    border: none; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .card .text-18 {
    text-transform: initial;
    color: #039BE5;
    line-height: 20px;
    font-family: "Roboto-Regular", sans-serif;
    margin-bottom: 15px; }
  .card-left {
    width: 200px;
    height: 170px;
    position: relative; }
  .card-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .card-blue {
    background: #039BE5;
    -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
    position: absolute;
    left: 6px;
    bottom: 0;
    padding: 4px 10px 3px; }
    .card-blue_text {
      -webkit-transform: skew(25deg);
              transform: skew(25deg);
      text-align: center;
      font-family: "Roboto-Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF; }
  .card-col {
    width: calc(100% - 200px);
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .card-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px 0 6px;
    margin-top: 16px; }
  .card-date {
    font-family: "Roboto-Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(147, 147, 151, 0.43); }
  .card-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card-social_link {
      margin-left: 10px;
      max-height: 20px; }
      .card-social_link path {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .card-social_fs:hover path {
      fill: #4267b2; }
    .card-social_in:hover path {
      fill: #0073b0; }
    .card-social_inst:hover path {
      fill: url("#paint0_linear"); }

.news {
  padding: 50px 0 70px; }
  .news .card {
    display: block; }
  .news .card-col {
    padding: 10px 0 0;
    width: 100%; }
  .news .card-left {
    height: 170px;
    width: 100%; }

.card-row {
  margin-top: 20px; }
  .card-row .card-left {
    width: 200px; }
  .card-row .card-col {
    width: calc(100% - 200px);
    padding: 0 0 0 20px; }
  .card-row .text-18 {
    text-transform: initial;
    color: #039BE5;
    line-height: 20px;
    font-family: "Roboto-Regular", sans-serif;
    margin-bottom: 15px; }

.news__item {
  padding-top: 23px; }
  .news__item .select {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #ffffff url("../img/arrow-select.svg") no-repeat right 16px center/9px 100%;
    border: 1px solid #939397;
    border-radius: 2px;
    overflow: hidden; }
    .news__item .select select {
      height: 34px;
      min-width: 214px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      padding: 0 40px 0 8px;
      background: transparent;
      border: none; }

.filters {
  margin-top: 20px; }

.date {
  background: #FFFFFF;
  border: 1px solid #939397;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 34px;
  padding: 2px 0 0 0;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  width: 100px;
  margin: 0 10px; }
  .date::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-transform: lowercase; }
  .date:-moz-placeholder {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-transform: lowercase; }
  .date::-moz-placeholder {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-transform: lowercase; }
  .date:-ms-input-placeholder {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-transform: lowercase; }

.datepicker {
  padding: 0;
  width: 432px;
  height: 476px;
  background: #ffffff;
  z-index: 9;
  position: absolute;
  border-radius: 0;
  border: none; }
  .datepicker thead {
    background: #039BE5; }
  .datepicker .prev, .datepicker .next {
    width: 55px;
    height: 55px;
    color: transparent; }
  .datepicker .prev {
    background: url("../img/arrow_left.svg") no-repeat center/24px 24px; }
  .datepicker .next {
    background: url("../img/arrow_right.svg") no-repeat center/24px 24px; }
  .datepicker tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px; }
  .datepicker tbody tr:first-child {
    padding: 20px 20px 0; }
  .datepicker tbody tr {
    margin-bottom: 9px;
    padding: 0 20px; }

.datepicker-dropdown.datepicker-orient-top:before, .datepicker-dropdown.datepicker-orient-top:after {
  content: none; }

.table-condensed {
  width: 100%; }

.datepicker th {
  border-radius: 0;
  color: #ffffff;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500; }

.datepicker td, .datepicker table tr td.old, .datepicker table tr td.new {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 46px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  border: 2px solid transparent; }

.datepicker th, .datepicker td {
  font-size: 18px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dow {
  line-height: 46px;
  width: 48px;
  height: 48px; }

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.datepicker-switch {
  margin-top: 17px;
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0 !important;
  color: #FFFFFF; }

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
  background-color: transparent; }

.today.day {
  color: #FFFFFF;
  background: #039BE5; }

.year.active, .month.active {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif; }

.datepicker table tr td.day:hover {
  background: transparent;
  border: 2px solid #039BE5;
  color: #000000; }

.old, .new {
  color: #C4C4C4; }

.datepicker-months tbody tr:first-child, .datepicker-years tbody tr:first-child {
  padding: 20px 0; }

.datepicker-months td, .datepicker-years td {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto; }

.datepicker-months .month, .datepicker-months .year, .datepicker-years .month, .datepicker-years .year {
  width: calc(25% - 40px);
  margin: 0 20px 5px;
  display: block;
  line-height: 32px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer; }
  .datepicker-months .month:hover, .datepicker-months .year:hover, .datepicker-years .month:hover, .datepicker-years .year:hover {
    color: #FFFFFF;
    background: #039BE5; }

.news__topic {
  padding-top: 22px; }
  .news__topic .list {
    margin-top: -9px; }
  .news__topic .card-date {
    text-align: right; }
  .news__topic .card-social {
    margin: 12px 0; }
  .news__topic-link {
    font-family: "Roboto-Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #039BE5; }
  .news__topic-col .text-18 {
    margin-bottom: 5px; }
  .news__topic-content {
    padding-top: 20px; }
  .news__topic .text-14 {
    margin-bottom: 15px; }
  .news__topic-img {
    float: left;
    margin: 0 30px 15px 0;
    width: 431px;
    height: 366px;
    -o-object-fit: cover;
       object-fit: cover; }
  .news__topic-comments {
    padding-top: 35px; }
    .news__topic-comments .text-12 {
      color: #385898; }
    .news__topic-comments-icon {
      width: 16px;
      height: 16px;
      margin-right: 4px; }

.news__important {
  margin-top: 20px; }
  .news__important-img {
    width: 60px;
    height: 51px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 15px; }
  .news__important .text-14 {
    line-height: 14px;
    color: #000000; }

.news__back {
  margin-top: 52px; }
  .news__back-arrow {
    width: 9px;
    margin-right: 17px; }
  .news__back-title {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #039BE5; }

.events {
  padding-top: 22px; }
  .events .select {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #ffffff url("../img/arrow-select.svg") no-repeat right 16px center/9px 100%;
    border: 1px solid #939397;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 15px; }
    .events .select select {
      height: 34px;
      min-width: 214px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      padding: 0 40px 0 8px;
      background: transparent;
      border: none; }
    .events .select select {
      min-width: 168px; }
  .events__box {
    margin-top: 20px; }
  .events__year {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px; }
    .events__year.active {
      border: 1px solid #039BE5;
      color: #039BE5; }

.calendar-arrow {
  width: 9px;
  margin-left: 8px;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .calendar-arrow.active {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }

.calendar__week-item, .calendar__day-item {
  width: 30px;
  height: 20px;
  margin: 0 10px;
  text-align: center;
  line-height: 19px;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  opacity: 0.7; }
  .calendar__week-item.today, .calendar__day-item.today {
    font-family: "Roboto-Bold", sans-serif; }
  .calendar__week-item.active, .calendar__day-item.active {
    color: #039BE5;
    border: 1px solid #039BE5;
    border-radius: 2px; }

.calendar__week {
  border-bottom: 1px solid #000000; }
  .calendar__week-item {
    font-family: "Roboto-Medium", sans-serif; }

.calendar__mouth {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #039BE5;
  margin-top: 16px; }

.tabs {
  margin-bottom: 17px; }

.tab {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "Oswald-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  min-width: 170px;
  cursor: pointer; }
  .tab.active {
    border-bottom: 2px solid #039BE5;
    color: #039BE5; }

.table__main, .table__item {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 12px 8px; }
  .table__main:first-child, .table__item:first-child {
    width: 54px; }
  .table__main:nth-child(2), .table__item:nth-child(2) {
    width: 110px; }
  .table__main:nth-child(3), .table__item:nth-child(3) {
    width: 170px; }
  .table__main:nth-child(4), .table__item:nth-child(4) {
    width: 400px; }
  .table__main:last-child, .table__item:last-child {
    width: 156px; }
  .table__main .link, .table__item .link {
    line-height: 14px; }

.table__main {
  font-size: 12px;
  font-family: "Roboto-Bold", sans-serif;
  text-transform: uppercase; }

.table ul {
  border-bottom: 1px solid rgba(196, 196, 196, 0.3); }
  .table ul:first-child {
    border-bottom: 1px solid #000000; }
  .table ul:nth-child(2n+2) {
    background: #F9F9F9; }

.table__item-name {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
  margin-bottom: 8px; }

.mobile__table-bottom .table__item {
  width: 33.33% !important; }

.mobile__table-item {
  border-bottom: 1px solid rgba(196, 196, 196, 0.3); }
  .mobile__table-item:nth-child(odd) {
    background: #F9F9F9; }

.map {
  margin-top: 30px; }
  .map iframe {
    width: 100%; }

.seminar {
  padding-top: 23px; }
  .seminar .btn-red {
    width: 100%;
    margin: 20px 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 17px 30px;
    height: auto; }
  .seminar__col {
    max-width: 395px;
    width: 100%;
    padding-right: 15px; }
  .seminar__date {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #CD201F;
    margin-top: 5px;
    margin-bottom: 20px; }
  .seminar__row {
    padding: 13px 8px;
    border-bottom: rgba(196, 196, 196, 0.3); }
    .seminar__row:nth-child(odd) {
      background: #FFFFFF; }
  .seminar__name, .seminar__name-info {
    font-family: "Roboto-Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: 42%; }
    .seminar__name-info, .seminar__name-info-info {
      width: 58%;
      font-family: "Roboto-Regular", sans-serif;
      font-style: normal;
      font-weight: normal; }
  .seminar-list__item {
    font-family: "Roboto-REgular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 5px; }

.seminar__table-row {
  padding: 11px 8px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3); }

.seminar__table .text-14__main {
  text-transform: initial;
  margin-top: 20px; }

.seminar__organizers {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

@media only screen and (max-width: 1199px) {
  .menu-list {
    margin: 0; }
  .select {
    margin-bottom: 20px; }
  .news__topic-img {
    width: 35vw;
    height: 29.8vw;
    margin: 0 15px 15px 0; }
  .table__main:first-child, .table__item:first-child {
    width: 51px; }
  .table__main:nth-child(2), .table__item:nth-child(2) {
    width: 97px; }
  .table__main:nth-child(3), .table__item:nth-child(3) {
    width: 105px; }
  .table__main:nth-child(4), .table__item:nth-child(4) {
    width: 210px; }
  .table__main:last-child, .table__item:last-child {
    width: 146px; }
  .events .select {
    width: calc(50% - 7.5px); }
    .events .select:nth-child(2n+2) {
      margin-right: 0; }
  .events .btn-blue {
    width: calc(50% - 7.5px);
    margin-bottom: 20px; }
  .events__box {
    margin: 0; } }

@media only screen and (max-width: 991px) {
  .logo-img {
    height: 110px; }
  .logo-text {
    font-size: 21px;
    line-height: 35px; }
  .logo-span {
    font-size: 15px;
    line-height: 28px; }
  .socials-img {
    width: 22px;
    height: 22px; }
  .header-call {
    font-size: 14px; }
  .header-call-link {
    font-size: 16px; }
  .search-input {
    width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%; }
  .menu-link {
    font-size: 14px; }
  .search.active .search-input {
    width: 690px;
    padding: 15px 30px 15px 12px;
    max-width: 690px;
    background: #ffffff; }
  .text-42 {
    font-size: 30px;
    line-height: 50px; }
  .banner {
    padding: 10px 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .socials-link {
    margin-bottom: 15px; }
  .news__official {
    margin-top: 20px; }
  .calendar-title {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .calendar-arrow {
    display: block; }
  .news__calendar {
    position: absolute;
    left: 0;
    top: 100%;
    background: #ffffff;
    z-index: 8;
    padding: 0 10px 20px;
    display: none;
    max-height: 500px;
    overflow-y: auto; }
  .table__main, .table__item {
    width: 97px; }
    .table__main:nth-child(3), .table__item:nth-child(3) {
      width: 146px; }
    .table__main:nth-child(4), .table__item:nth-child(4) {
      width: 250px; } }

@media only screen and (max-width: 767px) {
  .logo-img {
    height: 80px; }
  .logo-text {
    font-size: 16px;
    line-height: 30px; }
  .logo-span {
    font-size: 12px;
    line-height: 24px; }
  .header-call {
    font-size: 12px; }
    .header-call-link {
      font-size: 14px;
      margin: 0; }
  .burger {
    display: block; }
  .menu {
    display: none; }
  .search {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    .search-input {
      width: 100%;
      max-width: 100%;
      padding: 10px 30px 10px 12px;
      position: inherit;
      font-size: 14px; }
  *::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px; }
  *:-moz-placeholder {
    font-size: 14px;
    line-height: 21px; }
  *::-moz-placeholder {
    font-size: 14px;
    line-height: 21px; }
  *:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px; }
  .search-btn {
    background: none; }
  .menu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9;
    background: #ffffff;
    width: 100%;
    padding: 0 0 10px; }
  .menu-list {
    max-width: 540px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto; }
  .text-42 {
    line-height: 1;
    font-size: 18px; }
  .btn-red {
    font-size: 14px;
    height: 35px;
    min-width: 155px; }
  .arrow-line {
    margin-left: 10px; }
  .banner {
    padding: 10px; }
  #date-from {
    margin-left: 0; }
  .news__topic .card-date {
    text-align: left; }
  .news__topic .card-social_link {
    margin: 0 10px 0 0; }
  .breadcrumbs {
    display: block; }
    .breadcrumbs__link {
      float: left; }
  .table__item {
    width: auto !important; }
  .map iframe {
    height: 300px; }
  .seminar__col {
    padding: 0;
    max-width: 100%; }
  .seminar iframe {
    margin-top: 20px;
    width: 100%; } }

@media only screen and (max-width: 575px) {
  .banner {
    margin: 0 -15px 30px;
    width: calc(100% + 30px); }
  .logo-img {
    height: 60px; }
  .logo-text {
    line-height: 22px; }
  .socials-img {
    width: 18px;
    height: 18px; }
  .socials-link {
    margin: 10px 10px 10px 0; }
  .card {
    display: block; }
  .card-col {
    width: 100%;
    padding: 15px 0 0; }
  .card-left, .news .card-left {
    width: 100%;
    height: 57vw; }
  .banner {
    padding: 5px 15px; }
  .btn-red {
    font-size: 13px;
    height: 30px;
    margin-top: 5px;
    min-width: 130px; }
  .text-42 {
    font-size: 14px; }
  .arrow-line {
    width: 45px; }
  .btn-red:hover .arrow-line-hover {
    width: 35px; }
  .footer-text {
    font-size: 12px; }
  .card-row .card-col {
    padding: 20px 0 0 0;
    width: 100%; }
  .select {
    width: 100%; }
    .select select {
      width: 100%; }
  .date {
    width: 90px;
    font-size: 12px; }
  .btn-blue {
    padding: 8px 15px 6px; }
  .news__topic-img {
    width: 100%;
    height: 79vw; }
  .mobile__table-bottom .table__item {
    width: 50% !important; }
  .tab {
    min-width: auto;
    width: 50%; }
  .calendar__week-item, .calendar__day-item {
    margin: 0 6px; }
  .table__main, .table__item {
    padding: 10px; }
  .mobile__table-item, .map {
    margin: 20px -15px 0; }
  .datepicker tbody tr:first-child {
    padding: 10px 5px 0; }
  .datepicker td, .datepicker table tr td.old, .datepicker table tr td.new, .dow {
    width: 25px;
    height: 25px; }
  .datepicker {
    max-width: 290px;
    width: 100%;
    height: 279px; }
  .datepicker tr {
    padding: 0 5px 10px; }
  .datepicker tbody tr {
    padding: 0 5px; }
  .datepicker .next, .datepicker .prev {
    background-size: 12px 12px;
    height: 30px; }
  .datepicker-switch {
    margin-top: 4px; }
  .datepicker th, .datepicker td {
    font-size: 14px; }
  .datepicker-months td, .datepicker-years td {
    width: 100%; }
  thead tr:first-child {
    padding-bottom: 0; }
  .events__year {
    font-size: 14px;
    margin-bottom: 0; }
  .btn-red__text {
    margin: 0; }
  .seminar .btn-red {
    padding: 15px; } }
