<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

@import "header.html"
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Головна</a>
                    </li>
                    <li class="breadcrumbs__item">
                        Галерея
                    </li>
                </ul>
            </div>
        </div>
        <section class="gallery">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-18">Галерея</h2>
                    <div class="select select-white">
                        <select>
                            <option value="Всі дисципліни">Фільтр за дисциплінами</option>
                            <option value="дисциплінa">дисциплінa</option>
                            <option value="дисциплінa">дисциплінa</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>

                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="img/img_3.png" title="Фото" class="gallery-modal">
                            <img src="img/img_2.jpg" alt="img" class="gallery-img">
                        </a>
                    </div>
                    <div class="gallery-info">
                        <a href="#" class="link">2020. Судейский семинар (Полтава...</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
