<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

@import "header.html"
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Головна</a>
                    </li>
                    <li class="breadcrumbs__item">
                        Календар
                    </li>
                </ul>
            </div>
        </div>
        <section class="news events">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-12">
                    <h2 class="text-18 calendar-title">Календар — 2020 <img src="img/arrow-select.svg" alt="arrow select" class="calendar-arrow"></h2>
                    <div class="news__calendar">
                        <div class="calendar">
                            <div class="calendar__mouth">Лютий</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item today">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">Березень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">квітень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">Червень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">липень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">вересень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">жовтень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">листопад</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item ">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="calendar__mouth">Грудень</div>
                            <div class="calendar__week d-flex justify-content-between">
                                <div class="calendar__week-item">Пн</div>
                                <div class="calendar__week-item">Вт</div>
                                <div class="calendar__week-item">Ср</div>
                                <div class="calendar__week-item">Чт</div>
                                <div class="calendar__week-item">Пт</div>
                                <div class="calendar__week-item">Сб</div>
                                <div class="calendar__week-item">Нд</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item">1</div>
                                <div class="calendar__day-item">2</div>
                                <div class="calendar__day-item">3</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">4</div>
                                <div class="calendar__day-item">5</div>
                                <div class="calendar__day-item">6</div>
                                <div class="calendar__day-item">7</div>
                                <div class="calendar__day-item">8</div>
                                <div class="calendar__day-item">9</div>
                                <div class="calendar__day-item active">10</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">11</div>
                                <div class="calendar__day-item">12</div>
                                <div class="calendar__day-item active">13</div>
                                <div class="calendar__day-item">14</div>
                                <div class="calendar__day-item">15</div>
                                <div class="calendar__day-item">16</div>
                                <div class="calendar__day-item">17</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">18</div>
                                <div class="calendar__day-item">19</div>
                                <div class="calendar__day-item">20</div>
                                <div class="calendar__day-item">21</div>
                                <div class="calendar__day-item active">22</div>
                                <div class="calendar__day-item">23</div>
                                <div class="calendar__day-item">24</div>
                            </div>
                            <div class="calendar__day d-flex justify-content-between">
                                <div class="calendar__day-item">25</div>
                                <div class="calendar__day-item">26</div>
                                <div class="calendar__day-item">27</div>
                                <div class="calendar__day-item">28</div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                                <div class="calendar__day-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-12 ">
                    <ul class="tabs d-flex">
                        <li class="tab active">Найближчі події</li>
                        <li class="tab">Минулі події</li>
                    </ul>
                    <div class="d-flex flex-wrap">
                        <button type="button" class="events__year active">2020</button>
                        <button type="button" class="events__year">2019</button>
                        <button type="button" class="events__year">2018</button>
                        <button type="button" class="events__year">2017</button>
                        <button type="button" class="events__year">2016</button>
                        <button type="button" class="events__year">2015</button>
                        <button type="button" class="events__year">2014</button>
                        <button type="button" class="events__year">2013</button>
                    </div>
                    <div class="events__box">
                        <div class="mobile__table d-md-none d-block">
                            <div class="mobile__table-item">
                                <div class="d-flex">
                                    <p class="table__item"><span class="table__item-name">Cтарт</span>28.02</p>
                                    <p class="table__item"><span class="table__item-name">Событие</span><a href="http://m99935yr.beget.tech/motorcycling/seminar.html" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></p>
                                </div>
                                <div class="mobile__table-bottom d-flex flex-wrap">
                                    <p class="table__item"><span class="table__item-name">Дисциплина</span>Другие мероприятия</p>
                                    <p class="table__item"><span class="table__item-name">Статус</span>Туристический слет / ретро-ралли</p>
                                    <p class="table__item"><span class="table__item-name">Место</span>Днепропетровская область</p>
                                </div>
                            </div>
                            <div class="mobile__table-item">
                                <div class="d-flex">
                                    <p class="table__item"><span class="table__item-name">Cтарт</span>28.02</p>
                                    <p class="table__item"><span class="table__item-name">Событие</span><a href="http://m99935yr.beget.tech/motorcycling/seminar.html" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></p>
                                </div>
                                <div class="mobile__table-bottom d-flex flex-wrap">
                                    <p class="table__item"><span class="table__item-name">Дисциплина</span>Другие мероприятия</p>
                                    <p class="table__item"><span class="table__item-name">Статус</span>Туристический слет / ретро-ралли</p>
                                    <p class="table__item"><span class="table__item-name">Место</span>Днепропетровская область</p>
                                </div>
                            </div>
                            <div class="mobile__table-item">
                                <div class="d-flex">
                                    <p class="table__item"><span class="table__item-name">Cтарт</span>28.02</p>
                                    <p class="table__item"><span class="table__item-name">Событие</span><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></p>
                                </div>
                                <div class="mobile__table-bottom d-flex flex-wrap">
                                    <p class="table__item"><span class="table__item-name">Дисциплина</span>Другие мероприятия</p>
                                    <p class="table__item"><span class="table__item-name">Статус</span>Туристический слет / ретро-ралли</p>
                                    <p class="table__item"><span class="table__item-name">Место</span>Днепропетровская область</p>
                                </div>
                            </div>
                            <div class="mobile__table-item">
                                <div class="d-flex">
                                    <p class="table__item"><span class="table__item-name">Cтарт</span>28.02</p>
                                    <p class="table__item"><span class="table__item-name">Событие</span><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></p>
                                </div>
                                <div class="mobile__table-bottom d-flex flex-wrap">
                                    <p class="table__item"><span class="table__item-name">Дисциплина</span>Другие мероприятия</p>
                                    <p class="table__item"><span class="table__item-name">Статус</span>Туристический слет / ретро-ралли</p>
                                    <p class="table__item"><span class="table__item-name">Место</span>Днепропетровская область</p>
                                </div>
                            </div>
                            <div class="mobile__table-item">
                                <div class="d-flex">
                                    <p class="table__item"><span class="table__item-name">Cтарт</span>28.02</p>
                                    <p class="table__item"><span class="table__item-name">Событие</span><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></p>
                                </div>
                                <div class="mobile__table-bottom d-flex flex-wrap">
                                    <p class="table__item"><span class="table__item-name">Дисциплина</span>Другие мероприятия</p>
                                    <p class="table__item"><span class="table__item-name">Статус</span>Туристический слет / ретро-ралли</p>
                                    <p class="table__item"><span class="table__item-name">Место</span>Днепропетровская область</p>
                                </div>
                            </div>
                        </div>
                        <div class="table d-none d-md-block">
                            <ul class="d-flex">
                                <li class="table__main">Cтарт</li>
                                <li class="table__main">Дисциплина</li>
                                <li class="table__main">Статус</li>
                                <li class="table__main">Событие</li>
                                <li class="table__main">Место</li>
                            </ul>
                            <ul class="d-flex flex-md-nowrap flex-wrap">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                            <ul class="d-flex">
                                <li class="table__item">28.02</li>
                                <li class="table__item">Другие мероприятия</li>
                                <li class="table__item">Туристический слет / ретро-ралли</li>
                                <li class="table__item"><a href="" class="link">женское авто-ралли «ОДЕССА-МАМА», национальное ралли на серийных авто</a></li>
                                <li class="table__item">Днепропетровская область</li>
                            </ul>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3802852.547092251!2d28.943591899082246!3d48.83916059796701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LDQstGC0L4t0YDQsNC70LvQuA!5e0!3m2!1sru!2sua!4v1584437580214!5m2!1sru!2sua" width="600" height="455" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
