@import "fonts"
@import "vars"


*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  font-family: "helveticaneue", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  text-transform: capitalize
  color: #999999

*:-moz-placeholder
  font-family: "helveticaneue", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  text-transform: capitalize
  color: #999999

*::-moz-placeholder
  font-family: "helveticaneue", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  text-transform: capitalize
  color: #999999

*:-ms-input-placeholder
  font-family: "helveticaneue", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  text-transform: capitalize
  color: #999999

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #000000

body input:required:valid,
body textarea:required:valid
  color: #505050

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

a
  outline: none
  text-decoration: none
a[href^="tel"]
  color: inherit
  text-decoration: none
table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  position: relative
  line-height: normal
  font-family: "Oswald-Regular", sans-serif
  font-weight: normal
  font-style: normal

img
  display: block
  width: auto
  height: auto
  object-fit: contain

input, textarea
  border: none
  font-size: 16px
  outline: none
  color: #505050

button
  cursor: pointer
  outline: none
  border: none
  background: none
.footer
  background: #E5E5E5
  padding: 10px
  &-text
    font-family: "Roboto-Regular", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    text-align: center
    color: rgba(0, 0, 0, 0.87)
.header
  background: #FFFFFF
  &-top
    box-shadow: 0px 10px 25px rgba(115, 123, 128, 0.2)
    padding: 15px 0 20px
  &-call
    font-family: "helveticaneue", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #000000
    &-link
      font-weight: 700
      line-height: 24px
      font-size: 19px
      color: #000000
      margin-top: 10px
      display: block
      white-space: nowrap
.logo
  &-img
    height: 150px
    margin-right: 10px
  &-text
    font-family: "Oswald-Regular", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 44px
    text-transform: uppercase
    color: #000000
  &-span
    font-size: 24px
    line-height: 36px
    display: block
    color: #939397
.socials
  &-img
    width: 32px
    height: 32px
  &-link
    margin-right: 12px
    margin-bottom: 25px
    &:last-child
      margin-right: 0
.menu
  padding: 20px 0
  &-list
    margin: 0 10px
    &:last-child
      margin: 0
  &-link
    padding: 10px 16px
    display: block
    font-family: "Oswald-Regular", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 27px
    text-transform: uppercase
    color: #039BE5
.search
  position: relative
  margin-left: 50px
  &-input
    border-bottom: 1px solid #039BE5
    max-width: 203px
    width: 100%
    padding: 15px 30px 15px 12px
    font-family: "helveticaneue", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
    text-transform: capitalize
    color: #000000
    background: transparent
  &-btn
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    padding: 10px
  &-icon
    width: 18px
    height: 18px
.btn
  &-red
    background: #ED1D24
    display: flex
    align-items: center
    justify-content: center
    font-family: "Roboto-Medium", sans-serif
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #FFFFFF
    min-width: 196px
    width: fit-content
    padding: 10px
    height: 55px
    margin: 10px auto 0
.arrow-line
  position: relative
  height: 1px
  background: #FFFFFF
  width: 60px
  margin-left: 15px
  &:before
    content: ''
    position: absolute
    right: -1px
    top: -3px
    width: 0
    height: 0
    border-style: solid
    border-width: 4px 0 3px 5px
    border-color: transparent transparent transparent #ffffff
.text-42
  font-size: 42px
  line-height: 62px
  text-transform: uppercase
  color: #FFFFFF
.text-18
  font-size: 18px
  line-height: 27px
  text-transform: uppercase
  color: #000000
.text-14
  font-family: "Roboto-Regular", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
  color: rgba(0, 0, 0, 0.87)
.line-clamp
  display: block
  display: -webkit-box
  -webkit-box-orient: vertical
  position: relative
  overflow: hidden
  text-overflow: ellipsis

.line-clamp:after
  content: '...'
  text-align: center
  bottom: 0
  right: 0
  width: 25%
  display: block
  position: absolute
  height: calc(1em * 20px)
  background: linear-gradient(to left, rgba(241, 242, 246, 0.1), rgba(241, 242, 246, 0.5) 75%)

@supports (-webkit-line-clamp: 1)
  .line-clamp:after
    display: none !important
  .line-clamp
    -webkit-line-clamp: 3
    height: calc(1em * 20px * 3)
@import "../components/pages/home/style"

@import "media"
// Всегда в конце
